<div class="detail-container" *ngIf="project">
    <div class="sub-header-row">
        <button (click)="goBack()" class="back-link">
            <span class="arrow">&#10094;</span> BACK TO PROJECTS
        </button>
        <h2 class="project-title-display">{{ project.title }}</h2>
    </div>

    <!-- Redundant controls-top removed as we have a better back button now -->

    <div class="project-gallery">
        <div *ngFor="let item of project.gallery" class="gallery-item">
            <ng-container [ngSwitch]="item.type || 'image'">
                <!-- Image Type -->
                <div *ngSwitchCase="'image'" class="image-wrapper">
                    <img [src]="item.image" class="detail-image" alt="Project Image">
                </div>

                <!-- Instagram Type -->
                <div *ngSwitchCase="'instagram'" class="instagram-wrapper">
                    <blockquote class="instagram-media" [attr.data-instgrm-permalink]="item.instagramUrl"
                        data-instgrm-version="14">
                    </blockquote>
                </div>
            </ng-container>
            <p class="caption" *ngIf="item.caption">{{ item.caption }}</p>
        </div>
    </div>
</div>