/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #333;
}

button {
    font-family: inherit;
}