<div class="project-list-container">
    <div *ngFor="let project of projects$ | async; let i = index" class="project-row"
        (click)="openProject(project.link)">

        <div class="project-image-box">
            <img [src]="project.image" [alt]="project.title" />
        </div>

        <div class="project-info-box">
            <h3>{{ project.title }}</h3>
            <p>{{ project.description }}</p>
        </div>
    </div>

    <div class="project-list-logo" *ngIf="logo$ | async as logo">
        <img [src]="logo" alt="Logo" />
    </div>
</div>